<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="EmailHost" value="smtp.gmail.com" />
        <add key="EmailUsername" value="development.test.bot.obbd@gmail.com" />
        <add key="EmailPassword" value="zbkmdnfwebuwozdo" />
        <add key="EmailName" value="OBBD" />
    </appSettings>
</configuration>
